body {
  margin: 0;
  overflow: hidden;
  background-color: black;
  color:white;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: grey;
  font-size: 10px;
  text-align: right;
}